<!DOCTYPE html>
<html class='gr__semantic-ui_com'>
  <head>
    <title>Hearty</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
    <%= javascript_pack_tag 'client_and_server' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <div id="bg">
      <img src="/images/bg.jpg" alt="">
    </div>

    <div class='ui middle aligned center aligned grid', style='height: 100%;'>
      <div class='column', style='max-width: 450px;'>
        <div class = 'ui segment' id='padded_dialog'>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
